/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* chỉnh font chữ  */
html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
/* nguyen tac :
    1. tu ngoai vao trong
    2. tu tren xuong duoi
    3. tu tong quan den chi tiet 
*/
/* tra loi cac cau hoi 
    1. vị trí 
    2. Kích thước 
    3. Màu sắc 
    4. Kiểu dáng 
    */

/* Common */
.clear{
        clear: both;
}
.text-white{
        color: #fff !important;
}
        /* tư duy row column */
.row{
    margin-left:-8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding:0px 8px;
    
}
        /* chia lam 3 cot  */
.col-3{
    width: calc(100%/3);
}
        /* chia lam 2 cot */
.col-2{
    width: calc(100%/2);
}
/* main */
#main{

}

#header{
    height: 46.5px;
    background-color: black;
    /* giup dinh header vao phia tren cua so trinh duyet */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* nổi phần header lên bên layer bên trên  */
    z-index: 1;
}

#nav{
    /* do the div co thuoc tinh block nen se chiem het chieu dai cua header nen se day the div button search xuong duoi -> can chuyen ve inline-block */
    display:inline-block;
}

#nav li {
    display:inline-block;
    position: relative;
}

#nav  li  a {
    padding: 0 24px;
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 46.5px;
}

#nav > li > a{
    text-transform: uppercase;
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
#nav .nav-arrow-down{
    font-size: 14px;
    position: absolute;
    top: 14px;
    right: 12px;
}
#nav .subnav{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
#nav .subnav a{
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav li{
    display: block;
}
#nav  li:hover .subnav{
    display: block;
}

#nav .subnav li:hover{
    color: #000;
    background-color: #ccc; 
}

#header .search-btn{
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 46.5px;
    padding: 0 23px;
    
}
#header .search-btn:hover{
    color: white;
    background-color:rgb(169, 20, 9) ;
    cursor: pointer;
}
#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background-image: url("/assests/img/chicago.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    /* width: 100%; */
}
#slider .text-heading{
    font-weight: 400;
    margin-bottom: 25px;
}
#slider .text-description{
    font-weight: bolder;
    
}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto ;
    padding: 64px 0;
    
}
#content .section-heading{
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
    
    
}
#content .section-subheading{
    font-style: italic;
    opacity: 0.5;
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    
}
#content .section-description{
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}
#content .member-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    margin: 15px 0;
    
}
#content .member-image{
    width: 154px;
    border-radius: 4px;
}
#content .tour-section{
    background-color: black;
}

#content .tour-ticket{
    margin-top: 30px;
    list-style: none;
    background-color: #fff;
    border: 1px solid rgb(168, 159, 145);
    

}
#content .tour-ticket li{
    font-size: 15px;
    color: rgb(168, 159, 145);
    padding: 8px 16px;
    border-bottom: 1px solid rgb(168, 159, 145)
}
#content .tour-ticket .sold-out{
    background-color: rgb(180, 16, 4);
    margin-left: 10px;
    color: #fff;
    padding: 4px 8px;
    text-align: center;
}

#content .tour-ticket .number-ticket{
    float: right;
    background-color: black;
    border-radius: 50%;
    /* margin-top: 0px; */
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: white
}
/* tour place css */
#content   .place-list{
    margin-top:32px;
    /* căn cho hai cạnh item va ticket bằng nhau  */

    /* margin-left:-8px;
    margin-right: -8px; */
}
#content   .place-item{
    /* float:left; */
    /* width: calc(100%/3); */
    /* padding:0px 8px; */
}
#content .place-img{
    width: 100%;
    display: block;
}
#content .place-img:hover{
    opacity: 0.6;
}
#content   .place-body{
    background-color: #fff;
    font-size: 15px;
    padding:16px 16px;
}
#content   .place-heading{
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
#content   .place-time{
    color: rgb(181, 172, 160);
    margin:15px 0px;
}
#content   .place-description{
    margin: 15px 0;
}
#content   .place-buy-btn{
    color: #fff;
    width: 108px;
    height: 38px;
    background-color: #000;
    border: none;
    font-size: 15px;
    /* margin-bottom: 16px; */
}
#content   .place-buy-btn:hover{
    background-color:rgb(52, 56, 59) ;
    color: #fff;
    cursor: pointer;
}
/* buy ticket modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: none;  
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    animation: showModal ease 0.4s;
}
.modal .modal-close-btn{
    float: right;
    width: 46px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
}
.modal .modal-close-btn:hover{
    background-color: rgb(52, 56, 59);
}
.modal .modal-header{
    background-color: rgb(0, 126, 114);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    padding:42px 16px;
}
.modal .modal-icon{
    margin-right: 10px;
}

.modal .modal-content{
    padding: 16px;
}
.modal .content-label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.modal .modal-input{
    display: block;
    width: 100%;
    border: 1px solid rgb(62, 69, 71);
    padding: 8px;
    margin-bottom: 15px;

}
.modal .modal-pay-btn{
    background-color:rgb(0, 126, 114) ;
    width: 100%;
    border: none;
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.modal .modal-pay-btn:hover{
    background-color: rgb(52, 56, 59);
    cursor: pointer;
}
.modal .modal-footer{
    font-size: 15px;
    padding: 16px;
    text-align: right;

}
.modal .modal-footer a{
    color: rgb(50, 172, 255);
}
@keyframes showModal {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
#content{

}
#footer{
    
}